.page1{
    position: relative;
    background: url(../img/beijing.png) no-repeat left top;
    background-size: cover;
}
.page1 img{
    position: absolute;
}
.page1 .img01{
    width: 3.75rem;
    height:6.67rem;
    top: 3.57rem;
}
.page1 img:nth-child(2){
    /* 小汽车 */
    width: 1.345rem;
    height: .73rem;
    left: 1.15rem;
    top: 4.5rem;
}
.page1 img:nth-child(3){
/* 男孩 */
    width: 0.945rem;
    height: 1.845rem;
    left: 1.1rem;
    top: 1.5rem;
}
.page1 img:nth-child(4){
    /* 女孩 */
    width: 0.945rem;
    height: 1.845rem;
    right: 1rem;
    top: 1.6rem;
}
.page1 img:nth-child(5){
    /* 左对话框 */
    width: 1.35rem;
    height:.8rem;
    top: .9rem;
    left: .2rem;
}
.page1 img:nth-child(6){
    width: .8rem;
    height: .3rem;
    top: 1.1rem;
    left: .5rem;
}
.page1 img:nth-child(7){
    /* 右对话框 */
    width: 1.08rem;
    height: .75rem;
    top: 1rem;
    right: .26rem;
}
.page1 img:nth-child(8){
    width: .76rem;
    height:.32rem;
    top: 1.2rem;
    right: .5rem;
}
.page1 img:nth-child(9){
    /* 驾校带你飞 */
    width: 2.7rem;
    height: .9rem;
    top: 3rem;
    left: .6rem;
}
.page1 img:nth-child(10){
    /* 彩带 */
    width: 2.5rem;
    height: .4rem;
    top: 4rem;
    left: .7rem;
    position: relative;
}
div{
    position: absolute;
    color: #ffffff;
    font-size: 18px;
}
@keyframes bounceInRight{
    0%,100%,60%,75%,90%{
        -webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)
    }
    90%{
        -webkit-transform:translate3d(-5px,0,0);
        transform:translate3d(-5px,0,0)
    }
    100%{-webkit-transform:none;transform:none}
}
/* PAGE2 */
.page2{
    position: relative;
    background: url(../img/beijing.png) no-repeat left top;
    background-size: cover;
}
.page2 img{
    position: absolute;
}
.page2 .img01{
    /* bj图片 */
    width: 3.75rem;
    height:6.67rem;
    top: 3.57rem;
}
.page2 img:nth-child(2){
    /* 小汽车 */
    width: 1.34rem;
    height: .7rem;
    top: .4rem;
    left: .3rem;
}
.page2 img:nth-child(3){
    /* 标题 */
    width: 1.8rem;
    height: .5rem;
    top: .5rem;
    right: .4rem;
  
}
.page2   p{
    /* 驾校简介 */
    position: absolute;
    left:2rem;
    top: .6rem;
    font-size: .2rem;
    color: rgb(238, 234, 0);
    
}
.page2 img:nth-child(5){
    /* 大白框 */
    width: 3.3rem;
    height: 4rem;
    top: 1.5rem;
    left: .3rem;
}
.page2 p:nth-child(6){
    /* 文字 */
    width: 3rem;
    height: 3.5rem;
    top: 1.8rem;
    left: .5rem;
    color: rgb(0, 95, 169);
    font-size: .18rem;
}
.page2 img:nth-child(7){
    /* 男孩 */
    width: 1.154rem;
    height: 1.65rem;
    top: 4.8rem;
    left: .35rem;
}
/* PAGE3 */
.page3{
position: relative;
background: url(../img/beijing.png) no-repeat left top;
background-size: cover;
}
.page3 img{
position: absolute;
}
.page3 .img01{
/* bj图片 */
width: 3.75rem;
height:6.67rem;
top: 3.57rem;
}
